@rendermode RenderMode.InteractiveServer

<MudDrawer @bind-Open="_layoutState.NavIsOpen"
           ClipMode="DrawerClipMode.Never"
           Elevation="2">
    <MudDrawerHeader Class="d-flex align-center">

        <MudImage Src="images/header-logo.png" Width="180" Height="60" />

    </MudDrawerHeader>
    <MudNavMenu Margin="Margin.Dense" Color="Color.Primary" Rounded="true" Class="pa-2">
        @if (NavMenuItems == null)
        {
            <p><em>Cargando...</em></p>
        }
        else
        {
            <NavItemMenu NavMenuItems="NavMenuItems" NavTo="NavTo" />
        }
        <LogoutButton></LogoutButton>
    </MudNavMenu>
</MudDrawer>
