@page
@using Yggdrasil.AuthServer.Pages
@model Yggdrasil.AuthServer.Pages.IndexModel
@{
    ViewData["Title"] = "Authentication Server";
}

<div class="text-center">
    <h1 class="display-4">Authentication Server</h1>
</div>
